body{
font-family:標楷體;
}
html{
scroll-behavior: smooth;
}
header{
margin:0 auto;
background-color:white;
padding:15px 50px;
width:1200px;
height:20px;
}
img.logo{
width:150px;
height:115px;
}
.menu{
margin:0 auto;
width:1195px;
background-color:white;
text-align:right;
padding:20px;
font-size:30px;
}
.menu1{
display:inline-block;
margin:0px;
}
nav li{
list-style-type: none;
float:left;
}
nav li a{
padding:50px;
color:black;
font-weight:bold;
text-decoration:none;
}
nav li a:hover{
color:#64A600;
text-decoration:underline;
}
img.banner1{
width: 1204px;
height: 465px;
}
.banner{
margin:0 auto;
width: 1200px;
height: 500px;
position:relative;
top: 20px;
left: 0px;
}
.community1{
margin:0 auto;
width: 1200px;
height:1000px;
border-style:groove;
border-color:black;
position: relative;
top: 10px;
background-color:#64A600;
}
.community2{
width: 1150px;
height:970px;
border-style:groove;
border-color:black;
position: relative;
top: 15px;
left: 20px;
background-color:white;
}
.community3{
text-align: center;
columns:3;
column-rule:#D3D3D3 0px;
column-gap:30px;
font-size:28px;
}
img.communityimg1{
display:block;
margin:auto;
width:250px;
height:250px;
}
img.communityimg2{
display:block;
margin:auto;
width:250px;
height:250px;
}
img.communityimg3{
display:block;
margin:auto;
width:320px;
height:250px;
}
img.communityimg1:hover{
transform: scale(1.1);
transition:all 1s ease 0s;
}
img.communityimg2:hover{
transform: scale(1.1);
transition:all 1s ease 0s;
}
img.communityimg3:hover{
transform: scale(1.1);
transition:all 1s ease 0s;
}
.hot{
font-size: 16px;
color:green;
}
.hot:hover{
color:green;
text-decoration:underline;
}
.footer{
font-size:20px;
text-align:center;
margin:0 auto;
background-color:#2E8B57;
position: relative;
top:10px;
padding:0px 20px;
width:1100px;
height:0px;
}
.callme{
font-size: 28px;
text-align: center;
}